# LLM API Keys
# Anthropic API Key (Claude models)
ANTHROPIC_API_KEY=your_anthropic_api_key_here
# Google API Key(Gemini models on Google AI Studio; https://ai.google.dev/gemini-api/docs/api-key)
GOOGLE_API_KEY=your_google_api_key_here
# OpenAI API Key (Alternative, if using OpenAI models)
OPENAI_API_KEY=your_openai_api_key_here

LANGFUSE_PUBLIC_KEY=your_langfuse_public_key_here
LANGFUSE_SECRET_KEY=your_langfuse_secret_key_here
LANGFUSE_HOST=http://langfuse.host:port
# "Authorization=Basic {LANGFUSE_AUTH}"
# LANGFUSE_AUTH = base64.b64encode("LANGFUSE_PUBLIC_KEY:LANGFUSE_SECRET_KEY".encode()).decode()
OTEL_EXPORTER_OTLP_HEADERS="Authorization=Basic decoded_langfuse_keys_here"
# LANGFUSE_HOST + "/api/public/otel"
OTEL_EXPORTER_OTLP_ENDPOINT=hhttp://langfuse.host:port/api/public/otel